{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["eslint:recommended"],
	"rules": {
		"semi": ["error", "always"],
		"no-unused-vars": "off",
		"no-undef": "warn",
		"prefer-const": "off"
	}
}
