html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

main,
#battleZone {
	display: flex;
	height: 100%;
	width: 100%;
}

.element {
	font-size: clamp(30px, 4vw, 60px);
	border-radius: 100%;
	position: absolute;
	width: fit-content;
	height: fit-content;
	position: absolute;
}

.rock {
}
.paper {
}
.scissors {
}
